@using Microsoft.AspNetCore.Routing
@using SFA.DAS.FAT.Web.Infrastructure
@{
    ViewData["Title"] = "Accessibility statement";
    ViewData["Description"] = "How accessible find apprenticeship training is, how to report problems and how to request information in an alternative format.";
}


<div class="govuk-width-container">
    <a asp-route="@RouteNames.ServiceStart" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Accessibilty Statement</h1>
                <p class="govuk-body">This website is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
                <div>
                    <p class="govuk-body">We want as many people as possible to be able to use this website. For example, you should be able to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate most of the website using just a keyboard</li>
                        <li>navigate most of the website using speech recognition software</li>
                        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
                    <p class="govuk-body"><span><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet</a></span> has advice on making your device easier to use if you have a disability.</p>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>
                <p class="govuk-body">If you need information on this website in a different format, like accessible PDF or large print, email <span><a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" target="_blank">helpdesk@manage-apprenticeships.service.gov.uk.</a></span></p>
                <p class="govuk-body">We’ll consider your request and get back to you in 5 days.</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
                <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements,  email <span><a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" target="_blank">helpdesk@manage-apprenticeships.service.gov.uk.</a></span></p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Enforcement procedure</h2>
                <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
                <p class="govuk-body">If you’re not happy with how we respond to your complaint, <span><a class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS).</a></span></p>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
                <p class="govuk-body">The Education and Skills Funding Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
                <p class="govuk-body">This website is compliant with the <span><a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.1 AA standard.</a> </span></p>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">How we tested this website</h2>
                <p class="govuk-body">This website was last tested on November 17th, 2020 by the ESFA development team who built the website.</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
                <p class="govuk-body">We will arrange for external experts to run a full accessibility check of the website. Following that, we will aim to fix all known accessibility issues.</p>
                <p class="govuk-body">This statement was prepared on November 17th, 2020.</p>
            </div>
        </div>

    </main>
</div>