@using SFA.DAS.FAT.Web.Infrastructure
@{
    ViewData["Title"] = "Find apprenticeship training for your apprentice";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            Cookie details
        </div>
    </div>
</main>