@using SFA.DAS.FAT.Web.Models
@{
    ViewData["Title"] = "Page not found";
    ViewData["Description"] = "We could not find this page. Check the web address is correct and try again.";
    ViewData[nameof(BreadCrumbViewModel)] = new BreadCrumbViewModel {Level = BreadCrumbLevel.Error};
}
<main class="govuk-main-wrapper " id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Page not found</h1>

            <p class="govuk-body">If you typed the web address, check it is correct.</p>
            <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
            <p class="govuk-body">If the web address is correct or you selected a link or button, <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb#contact-us" class="govuk-link govuk-link--no-visited-state">contact the Apprenticeship Service</a> to get help.</p>

        </div>
    </div>
</main>