@using SFA.DAS.FAT.Web.Infrastructure

@{
    ViewData["Title"] = "Privacy";
    ViewData["Description"] = "What data is collected when you use find apprenticeship training for your apprentice - how it's used, where it's stored, your rights.";
}

<div class="das-js-back-link-or-home">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.ServiceStartDefault">Home</a>
            </li>
        </ol>
    </div>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Privacy</h1>
            <p class="govuk-body">This privacy notice explains how we collect and use your personal information for find apprenticeship training for your apprentice. This service is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
            <p class="govuk-body>">For the purposes of the relevant data protection legislation, DfE is the data controller for any personal information processed on this service.
            </p>
            <h2 class="govuk-heading-m">How we use your personal information</h2>
            <p class="govuk-body">DfE collects your personal information when you use find apprenticeship training for your apprentice. We collect:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>questions, queries or feedback you leave</li>
                <li>your name, organisation, email address and contact number if you choose to be contacted for research</li>
            </ul>
            <p class="govuk-body">This data can be viewed by authorised people in the Apprenticeship Service and our suppliers, to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>gather feedback to improve our services</li>
                <li>respond to any feedback you send us, if you’ve asked us to</li>
            </ul>
            <p class="govuk-body">We only collect and use your personal information where we need to and the law permits.</p>
            <h2 class="govuk-heading-m">How long we hold personal information</h2>
            <p class="govuk-body">We will only retain your personal information for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements. We will then securely destroy any personal information we hold.</p>
            <h2 class="govuk-heading-m">Who we share your personal information with</h2>
            <p class="govuk-body">We may share your information where the law allows it to enable the running of find apprenticeship training for your apprentice, or where we have a legal obligation to do so. </p>
            <h2 class="govuk-heading-m">What is the legal basis for collecting and processing the data</h2>
            <p class="govuk-body">In order for the use of personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation, as set out in Article 6(1) of the General Data Protection Regulation (GDPR). For the purpose of find apprenticeship training for your apprentice, the relevant condition that we are meeting is ‘public task’ as specified under Article 6 (1)(e) of the GDPR.</p>
            <h2 class="govuk-heading-m">Your data protection rights</h2>
            <p class="govuk-body">Under data protection law, you have certain rights depending on our reason for processing your personal information.</p>
            <h2 class="govuk-heading-m">Your right of access</h2>
            <p class="govuk-body">You have the right to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ask us for copies of your personal information <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-dp/guide-to-the-uk-gdpr/individual-rights/right-of-access/" target="_blank">(read more here)</a></li>
                <li>have your personal data rectified, if it is inaccurate or incomplete</li>
                <li>request the deletion or removal of personal data where there is no compelling reason for its continued processing</li>
                <li>restrict our processing of your personal data (i.e. permitting its storage but no further processing)</li>
            </ul>
            <p class="govuk-body">If you need to contact us regarding any of the above, please do so via the DfE site at: <a class="govuk-link" href="https://www.gov.uk/contact-dfe" target="_blank">https://www.gov.uk/contact-dfe</a>.</p>
            <p class=govuk-body>More information about how the DfE handles personal information is published here:</p>
            <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank">https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter</a></p>
            <p class="govuk-body">Further information about your data protection rights appears on the Information Commissioner’s website at: <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights/" target="_blank">https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights/</a>. </p>
            <h2 class="govuk-heading-m">How to complain</h2>
            <p class="govuk-body">Contact us using our <a class="govuk-link" href="https://www.education.gov.uk/contactus/efa" target="_blank">secure online contact form</a> or by writing to DfE’s data protection officer at:</p>
            <p class="govuk-body">
                Ministerial and Public Communications Division
                <br>Department for Education
                <br>Piccadilly Gate
                <br>Store Street
                <br>Manchester
                <br>M1 2WD
            </p>
            <p class="govuk-body">You also have the right to make a complaint to the <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/" target="_blank">Information Commissioner’s Office.</a></p>
            <p class="govuk-body">This privacy notice was prepared on 5 January 2021.</p>
        </div>
    </div>
</main>