@model List<SFA.DAS.FAT.Web.Models.ShortlistItemViewModel>



<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Training provider</th>
        <th scope="col" class="govuk-table__header">Training options</th>
        <th scope="col" class="govuk-table__header">Employer reviews</th>
        <th scope="col" class="govuk-table__header">Ofsted rating</th>
        <th scope="col" class="govuk-table__header">Pass rate</th>
        <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var shortlistItem in Model)
    {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                <div class="govuk-!-margin-bottom-2">
                    <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                        <a href="provider?provider=681&amp;standard=196&amp;location=Birmingham, West Midlands" class="govuk-link govuk-link--no-visited-state">CREATIVE SPORT &amp; LEISURE LTD</a>
                    </p>
                    <ul class="govuk-list govuk-!-margin-top-4 govuk-!-font-size-16">
                        <li class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#">@shortlistItem.Provider.Email</a></li>
                        <li >@shortlistItem.Provider.Phone</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="#">@shortlistItem.Provider.Website</a></li>
                    </ul>
                </div>
            </th>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-2">

                    <li class="" >
                        At&nbsp;apprentice’s workplace 
                    </li>

                    <li class="">
                        Day&nbsp;release: 72.6 miles away
                    </li>

                    <li class="govuk-!-margin-bottom-2">
                        Block&nbsp;release: 72.6 miles away
                    </li>
                </ul>
            </td>
            <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-2">
                    
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/>
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/>
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/>
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/> 
                    <span class="excellent-employer break-line-desktop">Excellent</span>
                    <span class="govuk-!-font-size-16"> (50+ <span class="">employer </span>reviews)</span>
                </p>
            </td>
            <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-2">
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/>
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/>
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/>
                    <img src="/public/images/icon-star-green.svg" class="star-svg"/> 
                    <span class="excellent-employer break-line-desktop">Outstanding</span> 
                    <span class="visually-hidden-desktop" style="color: #626a6e">(Ofsted rating)</span>
                </p>
            </td>
            <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-2">
                    
                    68% <span class="visually-hidden-desktop">pass rate </span><span style="color: #626a6e" class="govuk-!-font-size-16 break-line-desktop">(out of 50 apprentices)</span>
                    
                </p>
            </td>
            <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-4">
                    <a href="shortlist-remove?favdel=681&amp;standard=196" class="govuk-link govuk-link--no-visited-state">Remove<span class="visually-hidden-desktop"> from shortlist</span></a>
                </p>
            </td>
        </tr>
    }
    </tbody>
</table>




